body {
    background-color: black;
    text-align: center;
}
#Name {
    color:White;
    text-align: left;
}
#Home {
    color:white;
    text-align: center;
    font-size: 3cm;
}
a:link {
    color:white;
    text-decoration: none;
}
.JAR {
    background: rgb(0,160,255);
    background: linear-gradient(90deg, rgba(0,160,255,1) 40%, rgba(0,255,255,1) 50%, rgba(0,160,255,1) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
#JAndR {
    font-size: 2cm;
    text-decoration: underline white;
}
#Jokes {
    font-size: 1cm;
}
#Crazy {
    font-size: 1cm;
}
#Riddles {
    font-size: 1cm;
}
.GDW {
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 20%, rgba(255,127,127) 50%, rgba(255,0,0,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align:center;
    font-size: 1cm;
}
#gdwHomePage {
    font-size: 2cm;
    text-decoration: underline white;
}
.CIW {
    background: rgb(0,255,0);
    background: linear-gradient(90deg, rgba(0,255,0,1) 20%, rgba(140,255,140,1) 50%, rgba(0,255,0,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
#ciwHomePage {
    font-size: 2cm;
    text-decoration: underline white;
}
#uCorp {
    font-size: 1cm;
}