body {
    background-color: black;
    text-align: center;
}
#Name {
    color:White;
    text-align: left;
}
#Home {
    color:white;
    text-align: center;
    font-size: 3cm;
}
a:link {
    color:white;
    text-decoration: none;
}
#JAndR {
    background: rgb(0,160,255);
    background: linear-gradient(90deg, rgba(0,160,255,1) 20%, rgba(0,255,255,1) 50%, rgba(0,160,255,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 2cm;
    text-decoration: underline white;
}
#Jokes {
    background: rgb(0,160,255);
    background: linear-gradient(90deg, rgba(0,160,255,1) 20%, rgba(0,255,255,1) 50%, rgba(0,160,255,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1cm;
}
#Crazy {
    background: rgb(0,160,255);
    background: linear-gradient(90deg, rgba(0,160,255,1) 20%, rgba(0,255,255,1) 50%, rgba(0,160,255,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1cm;
}
#Riddles {
    background: rgb(0,160,255);
    background: linear-gradient(90deg, rgba(0,160,255,1) 20%, rgba(0,255,255,1) 50%, rgba(0,160,255,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1cm;
}