body {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow: hidden;
    margin: 0;
}
h1     {
    text-align: center;
    font-size: 3cm;
}
#uCorp {
    text-align: center;
    font-size: 2cm;
}
